<h1>Here is the result</h1>

<p class="alert alert-warning">
  Your attempt was : <%= @attempt %>
</p>

<ul class="list unstyle">
  <li>It took you: <%= @result[:time] %></li>
  <li>It means: <%= @result[:translation] %></li>
  <li>You scored: <%= @result[:score] %></li>
  <li><%= @result[:message].capitalize %></li>
</ul>
